<div class="container">
 <div class="bg-image" 
     style="background-image: url('https://media-exp1.licdn.com/dms/image/C4E16AQGUD1Cu8iYnCA/profile-displaybackgroundimage-shrink_350_1400/0/1615025224979?e=1634774400&v=beta&t=VcPcWoNBjoFAYotVfXZxMJ7dsH4J66jsKmtyU50ECWA');
            height: 50vh;">
            <div class="d-flex justify-content-center align-items-center h-20 w-50 mx-auto my-5" style="background-color: rgba(228, 228, 241, 0.2)"><h2 class="display-3 text-light">Bengt Uggla</h2></div>
<div class="d-flex justify-content-center align-items-center h-20 w-100 mx-auto my-5" style="background-color: rgba(228, 228, 241, 0.2)"><h2 class="display-3 text-light">FRONTEND DEVELOPER</h2></div>
 </div>
<!--  <div class="d-flex justify-content-center align-items-center h-50 py-5 bg-info text-light rounded-bottom"><h6>I am a student at a polytechnic 2 year Frontend Developer Education <a href="https://ecutbildning.se/?gclid=Cj0KCQjwpf2IBhDkARIsAGVo0D1J8iO5mIeIcWNgQcY-AKVgPG2YbELK_RHFwOXEF7ZainqbJS34gKIaAh_SEALw_wcB" target="_blank"> (EC-education) </a>
  in Sweden.<br> I am currently Looking for  (remote) Internship from november 22, 2021 to develop my skills in<br> HTML-CSS-JAVASCRIPT and JS-FRAMEWORKS
 </h6>
 </div> -->
 <div class="d-flex justify-content-center align-items-center h-50 py-5 bg-info text-light rounded-bottom"><h6>Frontend Developer student looking for Internship</h6></div>
 <p class="text-center "><em>This site is a small project example built in Angular & Bootstrap</em></p>

</div>
