<div class="container">


  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Värmdö kommun <br>1987 - 2003</h5>
          <p class="card-text">
            Primary school teacher, IT coordinator, Webmaster, IT educator, IT supervisor
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
  
        <div class="card-body">
          <h5 class="card-title">Doctus Rescue High School, Gustavsberg <br>2003 - 2011</h5>
          <p class="card-text">High School Teacher & Diving Instructor, Webmaster, IT Support & Administrator.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
  
        <div class="card-body">
          <h5 class="card-title">G2 Gustavsbergs Gymnasium (High School) <br>2011 - 2015</h5>
          <p class="card-text">
            IT manager, Teacher, Dive training manager
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
  
        <div class="card-body">
          <h5 class="card-title">Skafferi Uggla <br>2015 - 2016</h5>
          <p class="card-text">
            Self Employed. Scandinavian grocery store and café.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Finspångs kommun <br>2016</h5>
          <p class="card-text">
            Primary school teacher - class teacher year 1
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Norrköpings kommun <br>2017 - 2018</h5>
          <p class="card-text">
            Class teacher year 2
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Butängens Åkeri, Norrköping <br>2020</h5>
          <p class="card-text">
            Truck driver, 24m truck
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Jobzone, Norrköping <br>2020</h5>
          <p class="card-text">
            Truck driver, 18m truck driving for DHL
          </p>
        </div>
      </div>
    </div>



  </div>

</div>

