  
<div class="container mt-4">
<h1 class="display-5 text-center" > My Education </h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 bg-info border rounded">
        <div class="card-body">
          <h5 class="card-title text-light">Gothenburg University <br>1984 - 1987</h5>
          <p class="card-text">
            Teacher Education Degree
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-info border rounded">
  
        <div class="card-body">
          <h5 class="card-title text-light">PADI - Professional Association Of Diving Instructors <br>1990</h5>
          <p class="card-text">Scuba Diving Instructor Certificate.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-info border rounded">
  
        <div class="card-body">
          <h5 class="card-title text-light">The Swedish The Cardiology Association <br>1990</h5>
          <p class="card-text">
            HLR - Heart-Lung-Rescue Instructor
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-info border rounded">
  
        <div class="card-body">
          <h5 class="card-title text-light">KOMVUX Härnösand <br>1990-1991</h5>
          <p class="card-text">
            Math B & Math C degree
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-info border rounded">
        <div class="card-body">
          <h5 class="card-title text-light">Stockholm University <br>1999</h5>
          <p class="card-text">
            ITIS Supervisor (Supervise/projectleader teacher groups in using IT in school)
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-info border rounded">
        <div class="card-body">
          <h5 class="card-title text-light">CBM AB <br>2003</h5>
          <p class="card-text">
            Degree Service Technician Mares Respiratory Regulators and BCD:s
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-info border rounded">
        <div class="card-body">
          <h5 class="card-title text-light">PADI - Professional Association of Diving Instructors
 <br>2004</h5>
          <p class="card-text">
           Cerificate PADI IDC Staff Instructor (Instructor training staff)
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 bg-info border rounded">
        <div class="card-body">
          <h5 class="card-title text-light">OCEANIC Sweden <br>2010</h5>
          <p class="card-text">
            Degree Service Technician OCEANIC Respiratory Regulators and BCD:s
          </p>
        </div>
      </div>
    </div>
        <div class="col">
      <div class="card h-100 bg-info border rounded">
        <div class="card-body">
          <h5 class="card-title text-light">Blekinge Technic Highschool <br>2010</h5>
          <p class="card-text">
            Degree Basic course IT 5p, Object-oriented programming 3p
          </p>
        </div>
      </div>
    </div>
        <div class="col">
      <div class="card h-100 bg-info border rounded">
        <div class="card-body">
          <h5 class="card-title text-light">YrkesAkademin Yrkeshögskola<br>2019 - 2020</h5>
          <p class="card-text">
Heavy Truck driver education          </p>
        </div>
      </div>
    </div>
        <div class="col">
      <div class="card h-100 bg-info border rounded">
        <div class="card-body">
          <h5 class="card-title text-light">Truckutbildarna <br>2020</h5>
          <p class="card-text">
           Warehouse truck driver education
          </p>
        </div>
      </div>
    </div>
        <div class="col">
      <div class="card h-100 bg-info border rounded">
        <div class="card-body">
          <h5 class="card-title text-light">EC-utbildning <br>2020 - still</h5>
          <p class="card-text">
           Frontend development education.
          </p>
        </div>
      </div>
    </div>



  </div>

</div>

