<div class="container">
   <div class="card mb-3" style="max-width: 1280px;">
    <div class="row g-0">
      <div class="col-md-8">
       <a href="https://bengtuggla.github.io/portfolio/work.html#" target="_blank"> <img
          src="assets/img/portfolio.jpg"
          alt="portfolio"
          class="img-fluid"
        /></a>
      </div>
       
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title">My Portfolio</h5>
          <p class="card-text">
            This is some of my learningprojekt. Some are school assignments and some are learning by code-along at Udemy & Youtube.
            More is coming...
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 2021-08-21</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


