<div class="container">

 <div class="card mb-3" style="max-width: 840px;">
  <div class="row g-0">
    <div class="col-md-6">
      <img
        src="assets/img/music.jpg"
        alt="music studio"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
           I am a student at a polytechnic 2 year Frontend Developer Education <a href="https://ecutbildning.se/?gclid=Cj0KCQjwpf2IBhDkARIsAGVo0D1J8iO5mIeIcWNgQcY-AKVgPG2YbELK_RHFwOXEF7ZainqbJS34gKIaAh_SEALw_wcB" target="_blank"> (EC-education) </a>
           in Sweden.<br> I am currently Looking for  (remote) Internship from november 22, 2021 to develop my skills in HTML-CSS-JAVASCRIPT and JS-FRAMEWORKS
           <br>
           In addition to web development, my hobbies are music and diving. 
        </p>
          <br>When it's time for my Internship, I have acquired knowledge about:
         <ul>
          <li>Agile projects</li>
          <li>UX and graphical design</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>BOOTSTRAP</li>
          <li>JAVASCRIPT</li>
          <li>NODE.JS</li>
          <li>VUE, REACT & ANGULAR</li>
          <li>SOME BACKEND TECHNOLOGIES</li>
         </ul>
        <p class="card-text">
          <small class="text-muted">Welcome to contact me by email: <a href="mailto:bengt,uggla@gmail.com">bengt.uggla@gmail.com</a></small>
        </p>
      </div>
    </div>
  </div>
</div>