<!-- Navbar -->
<div class="container ">

<nav class="navbar navbar-expand-lg navbar-dark bg-info rounded-top">
  <!-- Container wrapper -->
  <div class="container-fluid ">
       <!-- Photo -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- My Photo -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img class="rounded-circle border border-primary"
          src="assets/img/foto-small.jpg"
          height="65"
          alt="MyPhoto"
        />
        <h1 class="display-5 ms-2">CV</h1>
        <h6 class="ms-2">- Bengt Uggla -</h6>
      </a>
    </div>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>


    
  <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
        <!-- Right elements -->
    <div class="d-flex align-items-center">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item me-3">
          <a class="nav-link text-white" routerLink="/">HOME</a>
        </li>
        <li class="nav-item  me-3">
          <a class="nav-link text-white" routerLink="/about">ABOUT ME</a>
        </li>
        <li class="nav-item  me-3">
          <a class="nav-link text-white" href="/experience">EXPERIENCE</a>
        </li>
         <li class="nav-item  me-3">
          <a class="nav-link text-white" href="/education">EDUCATION</a>
        </li>
         <li class="nav-item  me-3">
          <a class="nav-link text-white" href="#">PORTFOLIO</a>
        </li>
         <li class="nav-item  me-3">
          <a class="nav-link text-white" href="#">CONTACT</a>
        </li>
      </ul>

    </div>
    <!-- Right elements -->
    
    </div>

  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

</div>

 