 <section id="contact">
       <div class="container">
           <h3 class="text-center text-uppercase">contact me</h3>
           <p class="text-center w-75 m-auto">If you are intersted in hire me for smaller projects or for internship, please contact through one of folling methods</p>
           <div class="row">
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">call me</h4>
                    <p>+46700151778</p>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">swedish office</h4>
                   <address>Bengt Uggla <br>Lövviksvägen 4,<br> 617 90 Skärblacka </address>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">office spain</h4>
                    <address>Bengt Uggla <br>calle parque manzanares 29,<br> 031 77 San Fulgencio </address>
                  </div>
                </div>
             </div>
             <div class="col-sm-12 col-md-6 col-lg-3 my-5">
               <div class="card border-0">
                  <div class="card-body text-center">
                    <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                    <h4 class="text-uppercase mb-5">email</h4>
                    <p><a href="mailto:bengt,uggla@gmail.com">bengt.uggla@gmail.com</a></p>
                  </div>
                </div>
             </div>
           </div>
       </div>
    </section>
